/careerpath-backend/target
/careerpath-backend/.classpath
/careerpath-backend/.project
/careerpath-backend/.settings
/careerpath-frontend/.classpath
/careerpath-frontend/.project
/careerpath-frontend/.tern-project
/careerpath-frontend/.settings

