<html ng-app="careerpath">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	href="js/node_modules/patternfly/dist/css/patternfly.css">
<link rel="stylesheet" type="text/css"
	href="js/node_modules/patternfly/dist/css/patternfly-additions.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="scripts/angular.js"></script>
<script src="scripts/PerfilController.js"></script>
<script src="scripts/ProdutoController.js"></script>

<script src="scripts/AcreditacoesController.js"></script>


</head>

<body>

	<nav class="navbar navbar-default navbar-pf" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"> <img
				src="assets/img/redhat-logo.png" height="3%" alt="Plano de Carreira" />
			</a>
		</div>
	</nav>
	<div class="container">
		<div class="row row-offcanvas row-offcanvazs-left">
			<h1></h1>
			<div class="col-xs-6 col-sm-4 well sidebar-offcanvas">
				<!-- Lista de Perfis -->
				<nav class="sidebar-nav" role="navigation">
					<div id="sidebar-entries" class="list-group">
						<label>Escolha seu perfil:</label> <br>
						<div class="form-group" ng-controller="PerfilController">
							<p ng-repeat="perfil in perfis">
								<label class="checkbox-inline"> <input class="perfil"
									type="checkbox" ng-model="perfil.isActive"
									ng-change='stateChangedPerfil(perfil)' required>
									{{perfil.nomePerfil}}
								</label>
							</p>
						</div>
					</div>
				</nav>

				<!-- Lista de Produtos -->
				<nav class="sidebar-nav" role="navigation">
					<div id="sidebar-entries" class="list-group">
						<label>Escolha o produto desejado:</label> <br>
						<div ng-controller="ProdutoController">
							<p ng-repeat="produto in produtos">
								<label class="checkbox-inline"> <input type="checkbox"
									ng-model="produto.isActive"
									ng-change='stateChangedProduto(produto)' required> {{
									produto.nomeProduto }}
								</label>
							</p>

						</div>
					</div>
				</nav>
			</div>

			<!-- Lista de Acreditacões -->
			<div class="col-sm-offset-1 col-xs-12 col-sm-7 well mainarea">




				<div id="main" ng-controller="AcreditacoesController">
					<h2>Lista de Acreditações:</h2>
					<div id="main" ng-controller="AcreditacoesController">
						<ul class="list-group">
							<div ng-repeat="ap in acreditacoesAtivas">
								<label class="checkbox-inline">
								
									<input class="chbx" type="checkbox" required>
									{{ap.nomeAcreditacao}}
								</label>
							</div>


						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>